@import "../../style.scss";

.login {
	height: 100vh;
	background-color: #D0B8A8;
	display: flex;
	align-items: center;
	justify-content: center;

	@include tablet {
		height: inherit;
	}


	.card {
		width: 70%;
		display: flex;
		background-color: white;
		min-height: 600px;
		overflow: hidden;

		@include tablet {
			width: 100%;
			flex-direction: column;
			height: 100vh;	
		}


		.left {
			flex: 1;
			background: linear-gradient(#e14c2a30, #f15c3b30), url("https://images.pexels.com/photos/1587292/pexels-photo-1587292.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
			background-size: cover;
			padding: 50px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 30px;
			color: rgb(255, 255, 255);

			h1 {
				font-size: 6rem;
				line-height: 6rem;

				@include mobile {
					font-size: 3rem;
					line-height: 2rem;
				}
			}

			p {
				font-size: 1.4rem;
				@include mobile {
					text-align: end;
				}
			}

			span {
				font-size: 0.9rem;
			}

			button {
				width: 100%;
				padding: 10px 35px;
				border: none;
				background-color: rgb(255, 255, 255);
				color: rgb(52, 27, 10);
				font-weight: bold;
				cursor: pointer;
			}
		}

		.right {
			flex: 1;
			padding: 50px;
			display: flex;
			flex-direction: column;
			gap: 3%;
			justify-content: center;

			h1 {
				color: rgb(76, 68, 63);
			}

			form {
				display: flex;
				flex-direction: column;
				gap: 30px;

				input {
					border: none;
					border-bottom: 1px solid rgb(76, 68, 63);
					padding: 20px 10px;
				}

				button {
					width: 50%;
					padding: 10px;
					border: none;
					background-color: #c25f15;
					color: rgb(255, 255, 255);
					font-weight: bold;
					cursor: pointer;
				}

			}
		}
	}
}