.post {
	box-shadow: 0px 0px 15px 1px rgba(76, 68, 63, 0.24);
	background-color: rgb(248, 229, 219);

	.container {
		padding: 20px;

		.user {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;

			.userInfo {
				display: flex;
				gap: 20px;

				img {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					object-fit: cover;
				}

				.details {
					display: flex;
					flex-direction: column;

					.name {
						font-weight: 500;
					}

					.date {
						font-size: 12px;
					}
				}
			}

			button {
				position: absolute;
				top: 30px;
				right: 0;
				padding: 10px;
				border: none;
				background-color: #c25f15;
				color: rgb(255, 255, 255);
				font-weight: bold;
				cursor: pointer;
			}
		}

		.content {
			margin: 20px 0px;

			p {
				color: rgb(76, 68, 63);
			}

			img {
				width: 100%;
				max-height: 500px;
				object-fit: cover;
				margin-top: 20px;
			}
		}

		.info {
			display: flex;
			align-items: center;
			gap: 20px;

			.item {
				display: flex;
				align-items: center;
				gap: 10px;
				cursor: pointer;
				font-size: 14px;
				color: rgb(76, 68, 63);
			}
		}
	}
}